This notebook explains following  data pre-processing activities.


1.   Data Scaling using MinMaxScaler from Scikit-Learn
2.   Data Standardisation using  StandardScaler from Scikit-Learn
3. Converting Categorical Data to Numeric data through Replacing values
4.  Converting Categorical Data to Numeric data through 
LabelEncoder from Scikit-Learn
5  Converting Categorical Data to Numeric data through onehot encoding using Pandas dummy method

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

df= pd.read_csv('amsPrediction - Sheet1 (1).csv')
df.head()

   Attendance  MSE  HRS  ESE
0          70   10   17   42
1          92    7   20   39
2          67    3   18   32
3          82   16   13   50
4          80    9   10   44

In [2]:
scaler = MinMaxScaler()
df_values = df.values
df_scaled = scaler.fit_transform(df_values)
normalized_df = pd.DataFrame(df_scaled)
normalized_df.head()

          0         1     2        3
0  0.222222  0.500000  0.75  0.31250
1  0.833333  0.285714  0.90  0.21875
2  0.138889  0.000000  0.80  0.00000
3  0.555556  0.928571  0.55  0.56250
4  0.500000  0.428571  0.40  0.37500

In [3]:
normalized_df.describe()

               0          1          2          3
count  73.000000  73.000000  73.000000  73.000000
mean    0.547184   0.484344   0.545205   0.457192
std     0.264079   0.217648   0.285064   0.206798
min     0.000000   0.000000   0.000000   0.000000
25%     0.361111   0.357143   0.300000   0.312500
50%     0.500000   0.500000   0.600000   0.468750
75%     0.777778   0.571429   0.800000   0.562500
max     1.000000   1.000000   1.000000   1.000000

In [4]:
from sklearn.preprocessing import  StandardScaler
std_scaler = StandardScaler()
df_values = df.values
df_std= std_scaler.fit_transform(df_values)
standardized_df = pd.DataFrame(df_std)
standardized_df.head()

          0         1         2         3
0 -1.239064  0.072429  0.723388 -0.704518
1  1.091073 -0.918938  1.253227 -1.160996
2 -1.556810 -2.240760  0.900001 -2.226111
3  0.031920  2.055161  0.016936  0.512756
4 -0.179911 -0.258027 -0.512904 -0.400200

In [5]:
standardized_df.describe()

                  0             1             2             3
count  7.300000e+01  7.300000e+01  7.300000e+01  7.300000e+01
mean   6.220291e-16  3.026498e-16  1.338351e-16 -5.140485e-16
std    1.006920e+00  1.006920e+00  1.006920e+00  1.006920e+00
min   -2.086386e+00 -2.240760e+00 -1.925809e+00 -2.226111e+00
25%   -7.094874e-01 -5.884823e-01 -8.661302e-01 -7.045184e-01
50%   -1.799109e-01  7.242860e-02  1.935486e-01  5.627810e-02
75%    8.792420e-01  4.028841e-01  9.000012e-01  5.127560e-01
max    1.726564e+00  2.385617e+00  1.606454e+00  2.642986e+00

In [6]:

df= pd.read_csv('/content/std-cat.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'std-cat.csv'

In [ ]:
df.info()

In [ ]:
new={'F':0,'M':1}
df=df.replace({'Gender':new})
df.info()

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
df['State'] = lb.fit_transform(df['State'])
df.head()

In [ ]:
df = pd.get_dummies(df, columns=['Category'], prefix = ['Cat'])
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
df['State'] = lb.fit_transform(df['State'])

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.describe()